In [1]:
#Importing Required Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Loading Dataset into DataFrame
raw_data = pd.read_csv("D:\Python Project\\netflix_titles\\netflix_titles.csv")

### Exploring Dataset

In [3]:
raw_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
raw_data.shape

(8807, 12)

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
raw_data.nunique()

show_id         8807
type               2
title           8807
director        4528
cast            7692
country          748
date_added      1767
release_year      74
rating            17
duration         220
listed_in        514
description     8775
dtype: int64

In [7]:
raw_data.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

### Missing Data Analysis

In [8]:
raw_data.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [9]:
nan = raw_data[raw_data.isna().any(axis=1)].shape
nan

(3475, 12)

### Percentage of missing data

In [10]:
(nan[0]/raw_data.shape[0]) * 100

39.45724991484047

### Handling missing values for cast, director, country

In [11]:
raw_data['cast'].replace(np.nan,'Unknown',inplace=True)
raw_data['director'].replace(np.nan,'Unknown',inplace=True)
raw_data['country'].replace(np.nan,'Unknown',inplace=True)
raw_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [12]:
raw_data.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

### Few proportion of data remain with missing values
#### Dropping records which have missing values

In [13]:
raw_data.dropna(inplace=True)
raw_data.shape

(8790, 12)

#### Converting Data type and creating new attributes

In [14]:
raw_data['date_added']=pd.to_datetime(raw_data['date_added']) #Converting date_added object data type to datetime data type
raw_data['year_added']=raw_data['date_added'].apply(lambda x: int(x.year))
raw_data['month_added']=raw_data['date_added'].apply(lambda x: int(x.month))
raw_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021,9
1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021,9
3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021,9
4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021,9

In [15]:
raw_data.to_csv('netflix_raw_data.csv', index=False)

### Distribution of data with type attribute

In [16]:
raw_data['type'].value_counts()

Movie      6126
TV Show    2664
Name: type, dtype: int64

### Distribution of data with rating attribute

In [17]:
raw_data['rating'].value_counts()

TV-MA       3205
TV-14       2157
TV-PG        861
R            799
PG-13        490
TV-Y7        333
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: rating, dtype: int64

### Unnesting Cast Attribute

In [18]:
cast = pd.DataFrame(raw_data['cast'].apply(lambda x: str(x).split(', ')).tolist(),index=raw_data['show_id'])
cast=cast.stack().reset_index().drop('level_1',axis=1)
cast.rename(columns={0:'actor'},inplace=True)
cast.head()

  show_id           actor
0      s1         Unknown
1      s2      Ama Qamata
2      s2     Khosi Ngema
3      s2   Gail Mabalane
4      s2  Thabang Molaba

### Unnesting Director Attribute

In [19]:
director = pd.DataFrame(raw_data['director'].apply(lambda x: str(x).split(', ')).tolist(),index=raw_data['show_id'])
director=director.stack().reset_index().drop('level_1',axis=1)
director.rename(columns={0:'director'},inplace=True)
director.head()

  show_id         director
0      s1  Kirsten Johnson
1      s2          Unknown
2      s3  Julien Leclercq
3      s4          Unknown
4      s5          Unknown

### Unnesting Country Attribute

In [20]:
country = pd.DataFrame(raw_data['country'].apply(lambda x: str(x).split(', ')).tolist(),index=raw_data['show_id'])
country=country.stack().reset_index().drop('level_1',axis=1)
country.rename(columns={0:'country'},inplace=True)
country.head()

  show_id        country
0      s1  United States
1      s2   South Africa
2      s3        Unknown
3      s4        Unknown
4      s5          India

### Unnesting Listed in Attribute

In [21]:
genre = pd.DataFrame(raw_data['listed_in'].apply(lambda x: str(x).split(', ')).tolist(),index=raw_data['show_id'])
genre=genre.stack().reset_index().drop('level_1',axis=1)
genre.rename(columns={0:'genre'},inplace=True)
genre.head()

  show_id                   genre
0      s1           Documentaries
1      s2  International TV Shows
2      s2               TV Dramas
3      s2            TV Mysteries
4      s3          Crime TV Shows

### Merging unnesting attributes DataFrame

In [22]:
temp = cast.merge(director, on=['show_id'], how='inner')
temp1 = temp.merge(country, on=['show_id'], how='inner')
temp2 = temp1.merge(genre, on=['show_id'], how='inner')
temp2.head()

  show_id        actor         director        country                   genre
0      s1      Unknown  Kirsten Johnson  United States           Documentaries
1      s2   Ama Qamata          Unknown   South Africa  International TV Shows
2      s2   Ama Qamata          Unknown   South Africa               TV Dramas
3      s2   Ama Qamata          Unknown   South Africa            TV Mysteries
4      s2  Khosi Ngema          Unknown   South Africa  International TV Shows

### Creating DataFrame with unnested attributes Cast, Director, Country, Genre

In [23]:
data = temp2.merge(raw_data[['show_id','type','title','date_added','release_year','rating','duration',
                             'description','year_added','month_added']],
                             on='show_id',how='inner').iloc[:,[0,5,6,1,2,3,4,7,8,9,10,11,12,13]]
data.head()

,show_id,type,title,actor,director,country,genre,date_added,release_year,rating,duration,description,year_added,month_added
0,s1,Movie,Dick Johnson Is Dead,Unknown,Kirsten Johnson,United States,Documentaries,2021-09-25,2020,PG-13,90 min,"As her father nears the end of his life, filmm...",2021,9
1,s2,TV Show,Blood & Water,Ama Qamata,Unknown,South Africa,International TV Shows,2021-09-24,2021,TV-MA,2 Seasons,"After crossing paths at a party, a Cape Town t...",2021,9
2,s2,TV Show,Blood & Water,Ama Qamata,Unknown,South Africa,TV Dramas,2021-09-24,2021,TV-MA,2 Seasons,"After crossing paths at a party, a Cape Town t...",2021,9
3,s2,TV Show,Blood & Water,Ama Qamata,Unknown,South Africa,TV Mysteries,2021-09-24,2021,TV-MA,2 Seasons,"After crossing paths at a party, a Cape Town t...",2021,9
4,s2,TV Show,Blood & Water,Khosi Ngema,Unknown,South Africa,International TV Shows,2021-09-24,2021,TV-MA,2 Seasons,"After crossing paths at a party, a Cape Town t...",2021,9

### Creating separate DataFrame for Movies and TV Shows and modifying duration column to int data type

In [24]:
movies = data[data['type']=='Movie']
tv_shows = data[data['type']=='TV Show']

In [25]:
tv=tv_shows['duration'].apply(lambda x:int(str(x).split(' ')[0]))
tv_shows=tv_shows.drop('duration',axis=1)
tv_shows['seasons']=tv
tv_shows.head()

,show_id,type,title,actor,director,country,genre,date_added,release_year,rating,description,year_added,month_added,seasons
1,s2,TV Show,Blood & Water,Ama Qamata,Unknown,South Africa,International TV Shows,2021-09-24,2021,TV-MA,"After crossing paths at a party, a Cape Town t...",2021,9,2
2,s2,TV Show,Blood & Water,Ama Qamata,Unknown,South Africa,TV Dramas,2021-09-24,2021,TV-MA,"After crossing paths at a party, a Cape Town t...",2021,9,2
3,s2,TV Show,Blood & Water,Ama Qamata,Unknown,South Africa,TV Mysteries,2021-09-24,2021,TV-MA,"After crossing paths at a party, a Cape Town t...",2021,9,2
4,s2,TV Show,Blood & Water,Khosi Ngema,Unknown,South Africa,International TV Shows,2021-09-24,2021,TV-MA,"After crossing paths at a party, a Cape Town t...",2021,9,2
5,s2,TV Show,Blood & Water,Khosi Ngema,Unknown,South Africa,TV Dramas,2021-09-24,2021,TV-MA,"After crossing paths at a party, a Cape Town t...",2021,9,2

In [26]:
movie=movies['duration'].apply(lambda x:int(str(x).split(' ')[0]))
movies=movies.drop('duration',axis=1)
movies['duration']=movie
movies.head()

,show_id,type,title,actor,director,country,genre,date_added,release_year,rating,description,year_added,month_added,duration
0,s1,Movie,Dick Johnson Is Dead,Unknown,Kirsten Johnson,United States,Documentaries,2021-09-25,2020,PG-13,"As her father nears the end of his life, filmm...",2021,9,90
159,s7,Movie,My Little Pony: A New Generation,Vanessa Hudgens,Robert Cullen,Unknown,Children & Family Movies,2021-09-24,2021,PG,Equestria's divided. But a bright-eyed hero be...,2021,9,91
160,s7,Movie,My Little Pony: A New Generation,Vanessa Hudgens,Jos Luis Ucha,Unknown,Children & Family Movies,2021-09-24,2021,PG,Equestria's divided. But a bright-eyed hero be...,2021,9,91
161,s7,Movie,My Little Pony: A New Generation,Kimiko Glenn,Robert Cullen,Unknown,Children & Family Movies,2021-09-24,2021,PG,Equestria's divided. But a bright-eyed hero be...,2021,9,91
162,s7,Movie,My Little Pony: A New Generation,Kimiko Glenn,Jos Luis Ucha,Unknown,Children & Family Movies,2021-09-24,2021,PG,Equestria's divided. But a bright-eyed hero be...,2021,9,91

In [27]:
data.to_csv('netflix_raw_data.csv', index=False)